@import "../../../styles/elements.scss";
@import "../../../styles/placeholders.scss";
@import "../../../styles/colorsPallete.scss";

.Freelancer {
    @extend %flexCol;
    gap: 0.5em;
    min-height: 120%;
    overflow-y: scroll;
    
      .applicant {
          @extend %flexCol;
          padding: 1em;
          gap: 0.75em;
          background-color: #fff;
          border-radius: 1em;
          background-color: $colorCard;
  
          .applicantHeader {
            @extend %flexRow;
            justify-content: space-between;
  
            span {
              color: rgba($colorPara, 0.5);
            }
  
            span > svg {
              color: #FFD700;
            }
  
            .badge {
              color: rgba($colorAccent, 1);
            }
          }
  
          .applicantBody {
            @extend %flexCol;
            gap: 0.25em;
  
            .applicantAddress {
              @extend %flexRow;
              gap: 0.25em;
              color: rgba($colorPara, 0.5);
              font-size: 0.875em;
            }
  
            .downloadCV {
              @extend %flexRow;
              justify-content: space-between;
              font-size: 0.875em;
            }
          }
        }
  
  }