$colorPrimary: #c079fb;
$colorSecondary: #f8a8ff;
$colorAccent:#fd9255;
$colorTitle: #fdfffc;
$colorTitleDark: #2b2d42;
$colorPara: #a1a1a1;
$colorLabel: #fdfffc;
$colorBackgroundModal:#22252c;
$colorBackgroundPage:#06070c;
$colorDisbled: #bdbdbd;
$colorCard: #fdfffc;
