@import "./placeholders.scss";
@import "./colorsPallete.scss";

h1 {
  font-size: 2em;
  color: $colorTitle;
}
h2 {
  font-size: 1.75em;
  color: $colorTitle;
}

h3 {
  font-size: 1.5em;
  color: $colorTitle;
}

h4 {
  font-size: 1.25em;
  color: $colorTitleDark;
}

h5 {
  font-size: 1em;
  color: $colorTitleDark;
}

h6 {
  font-size: 0.75em;
  color: $colorTitleDark;
}

input {
  border-radius: 0.5em;
  padding: 1em;
  outline: none;
  border: none;
  background-color: rgba($colorBackgroundModal, 100%);
  color: $colorTitle;
  &::placeholder {
    opacity: 0.5;
  }
  &:focus {
    border: 1px solid rgba($colorPrimary, 100%);

    &::placeholder {
      color: $colorTitle;
      opacity: 0.8;
    }
  }
}

.userInput {
  @extend %flexCol;
}

button {
  transition: all 0.2s ease;
  &:active {
    scale: 0.98;
  }
}

.primary {
  padding: 0.75em 1em;
  border-radius: 0.5em;
  width: 100%;
  border: none;
  background: linear-gradient(90deg, rgba($colorPrimary, 60%), rgba($colorSecondary, 100%));
  color: #fff;
}

.secondary {
  padding: 0.75em 1em;
  border-radius: 0.5em;
  width: 100%;
  background-color: $colorBackgroundModal;
  color: rgba($colorTitle, 1);
  border: none;


}

input[type="checkbox"] {
  height: 1.125em;
  width: 1.125em;
}

label {
  @extend %flexCol;
  gap: 0.5em;
  color: $colorLabel;
  font-weight: 300;
  font-size: 0.875em;
}

.card {
  @extend %flexRow;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid rgba($colorTitleDark, 1);
  border-radius: 0.5em;
  padding: 0.5em 2em;
  font-weight: 400;

  & > svg {
    font-size: 3em;
    color: rgba($colorTitleDark, 0.7);
  }

  & > p {
    font-size: 1em;
  }

  * &.active {
    height: 100%;
    background: linear-gradient(180deg, rgba($colorSecondary, 100%) 1%, rgba($colorPrimary, 100%) 90%);
    box-shadow: 0 0em 1.5em rgba($colorSecondary, 0.7);

    & > svg {
      font-size: 3em;
      color: #fff;
      font-weight: 500;
    }

    h4 {
      font-size: 1.25em;
      color: rgba($colorTitle, 1);
    }
  }
}

.badge {
  padding: 0.5em 2em;
  border: 1px solid rgba($colorSecondary, 40%);
  background-color: rgba($colorSecondary, 5%);
  color: rgba($colorSecondary, 100%);
  border-radius: 0.5em;
  font-size: 0.75em;
  margin-bottom: 1em;

  &.active {
    background-color: rgba($colorSecondary, 100%);
    border: 1px solid transparent;
    color: $colorTitle;
  }
}

a {
  text-decoration: none;
  font-size: 0.875em;
}
