@import "../../../styles/colorsPallete.scss";
@import "../../../styles/placeholders.scss";

.Card {
  padding: 1em;
  border-radius: 1em;
  @extend %flexRow;
  height: 30vh;
  min-width: 60vw;
  background-color: $colorBackgroundModal;
}
