@import "../../../styles/colorsPallete.scss";
@import "../../../styles/placeholders.scss";

.Card {
  padding: 1em;
  border-radius: 1em;
  @extend %flexRow;
  height: 30vh;
  background-color: $colorBackgroundModal;
  transition: all 0.2s ease;

  &:active {
    background-color: $colorActive;
    scale: 0.98;
  }
}
