@import "../../styles/colorsPallete.scss";

.Layout {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: $colorBackgroundPage;

  .header {
    width: 100%;
  }

  .Main {
    width: 100%;
  }

  .Menu {
    width: 100%;
  }
}
