@import "../../styles/colorsPallete.scss";

.Layout {
  max-width: 100vw;
  position: relative;
  overflow-x: hidden;
  max-height: 100vh;
  background-color: $colorBackgroundPage;


  .header {
    height: 8vh;
    width: 100%;
  }

  .Main {
    min-height: 84vh;
    width: 100%;
  }

  .Menu {
    height: 8vh;
    width: 100%;
  }
}
