.Layout {
  max-width: 100vw;
  position: relative;
  overflow-x: hidden;

  .header {
    height:8vh;
    width: 100%;
  }

  .Main {
    height: 84vh;
    width: 100%;
  }

  .Menu {
    height: 8vh;
    width: 100%;
  }
}
