@import "../../../styles/elements.scss";
@import "../../../styles/placeholders.scss";
@import "../../../styles/colorsPallete.scss";

.Job {
  @extend %flexCol;
  gap: 0.5em;
  width: 100%;
  height: 100%;

  & > .jobOffer {
    width: 100%;
    min-height: 100%;
    max-height: 100%;

    & > .jobOfferHeader {
      @extend %flexRow;
      align-items: center;
      height: 15%;

      & > span {
        color: $colorPara;
        font-size: 0.875em
      }
    }

    & > .jobOfferBody {
      @extend %flexCol;
      height: 85%;
      overflow: hidden;
      gap: 0.5em;

      & > .description {
        max-width: 100%;
        max-height: 60%;
        line-height: 1.4;
        font-size: 1em;
        color: $colorPara;
        text-overflow: ellipsis;
        overflow-wrap: break-word;
        overflow: hidden;
        white-space: pre-wrap;
        margin-bottom: auto;
      }

      & > .buttons {
        @extend %flexRow;
        gap: 0.5em;
        max-height: 25%;

        & > button:nth-of-type(1) {
          width: 70%;
        }

        & > button:nth-of-type(2) {
          width: 30%;
        }
      }
    }
  }
}
