@import "../../../styles/placeholders.scss";
@import "../../../styles/colorsPallete.scss";
@import "../../../styles/elements.scss";

.Header {
  height: 100%;
  width: 100%;
  @extend %flexRow;
  align-items: center;
  justify-content: space-between;
  background-color: $colorBackgroundPage;
  padding: 0.5em 1em;

  & > .userContainer {
    height: 100%;
    width: 70%;
    @extend %flexRow;
    align-items: center;
    white-space: nowrap;
    gap: 0.5em;

    & > h5 {
      text-overflow: ellipsis;
      color: $colorTitle;
      font-weight: 400;
      font-size: 0.875em;
    }

    & > svg {
      background-color: $colorBackgroundModal;
      border-radius: 50%;
      height: 85%;
    }
  }

  & > .logo {
    height: 100%;
    width: 50%;
    @extend %flexRow;
    align-items: center;
    justify-content: flex-end;
    color: $colorTitle;

    & > svg {
      border-radius: 50%;
      font-size: 1.25em;
    }
  }
}
