@import "../../../styles/colorsPallete.scss";
@import "../../../styles/elements.scss";
@import "../../../styles/placeholders.scss";

.Profile {
  min-height: 100vh;
  width: 100%;
  @extend %flexCol;
  align-items: center;
  overflow: hidden;
  gap: 1.5em;

  & > .header {
    width: 80%;
    @extend %flexRow;
    gap: 1em;
    border-radius: 1em;

    & > .image {
      height: 7em;
      width: 55%;
      border-radius: 50%;
      overflow: hidden;
      border: 6px solid $colorBackgroundModal;
      box-shadow: (inset 0 0 0.25em 0.25em rgba($colorSecondary, 1));

      & > svg {
        scale: 1.1;
        padding: 1em 0.5em 0 0.5em;
      }
    }

    & > .details {
      width: 70%;
      @extend %flexCol;
      align-items: flex-start;
      justify-content: center;
      gap: 0.5em;

      & > h4 {
        margin-bottom: -0.25em;
        color: $colorTitle;
      }
      & > p {
        color: $colorPara;
        font-size: 0.875em;
      }

      & > .primary {
        padding: 0.5em;
        width: 100%;
        font-size: 0.75em;
      }
    }
  }

  & > .body {
    height: 100%;
    width: 100%;
    @extend %flexCol;
    align-items: center;

    & > nav {
      background-color: rgba($colorBackgroundModal, 1);
      height: 3em;
      width: 75%;
      border-radius: 0.75em;
      @extend %flexRow;
      align-items: center;
      margin-bottom: 2em;
      font-size: 0.75em;
      outline: 0.25em solid rgba($colorBackgroundModal, 1);
      outline-offset: 0.5em;
    }

    & > .userData {
      width: 100%;
      @extend %flexCol;
      align-items: center;
      justify-content: center;
      gap: 1em;
      padding: 1em;

      & > .inputContainer {
        width: 100%;
        @extend %flexCol;
        gap: 0.25em;

        & > label {
          color: $colorPara;
          font-size: 0.75em;
          font-weight: 400;
        }

        & > .inputBox {
          position: relative;
          width: 100%;

          & > input {
            width: 100%;
            color: $colorPara;
            padding: 1em 1em 1em 3.25em;
          }

          & > svg {
            color: $colorPara;
            position: absolute;
            top: 50%;
            left: 5%;
            transform: translate(-5%, -50%);
          }
        }
      }
    }

    & > .preferences {
      @extend %flexCol;
      gap: 0.5em;
      width: 100%;
  }
  }
}
