@import "../../../styles/elements.scss";
@import "../../../styles/placeholders.scss";
@import "../../../styles/colorsPallete.scss";

.Home {
  width: 100%;
  height: 100%;

  & > hr {
    border-radius: 1em;
    width: 25%;
    border: none;
    height: 0.25em;
    background: linear-gradient(
      120deg,
      rgba(192, 121, 251, 1) 0%,
      rgba(248, 168, 255, 1) 30%,
      rgba(255, 255, 255, 0) 100%
    );
    margin-top: 0.5em;
  }

  & > .header {
  }

  & > .body {
    @extend %flexCol;
    justify-content: flex-start;
    gap: 1em;
    width: 100%;
    height: 100;
    padding: 1em 0;

    & > h5 {
      color: rgba($colorTitle, 1);
    }

    & > .cards {
      @extend %flexRow;
      gap: 1em;
      padding: 1em 0;
      
      & > .applications {
        overflow-x: auto;
        @extend %flexRow;
        gap: 1em;
        height: 25vh;

        & > h5 {
          color: rgba($colorTitle, 1);
        }
      }
    }
  }
}
